DATABASE=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DIALECT=
NODE_ENV=
PORT=

GROQ_API_KEY=
GROQ_LLM_MODEL=

GOOGLE_API_KEY=
GOOGLE_LLM_MODEL=

TAVILY_API_KEY=

LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=